# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64

streamlit>=1.50.0
streamlit-pdf-reader==2.0.1
pandas>=2.2.2
numpy>=1.26.4
scipy>=1.13.1
pyarrow

# Visualization
matplotlib>=3.8.4
seaborn>=0.13.2
plotly
altair
pydeck

# Machine Learning & Stats
scikit-learn>=1.4.2
scikit-bio
statsmodels

